* {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

.CartWidget {
    display: flex;
}

.button-carrito {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.cart-length {
    font-size: 1rem;
    font-weight: 500;
    color: #FFFFFF;
}