.NavBar {
    width: 80%;
}

.NavBar ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 100%;
    justify-content: space-around;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
}

.navbar-links {
    color: #FFFFFF;
    text-decoration: none;
}